    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit-smaller">
        <% if params[:controller] == 'languages' %>
        	<% language = Language.find(params[:id]) %>
        	<h1><%= language.name_english %></h1>
        <% end %>
        <p>Select a theme</p>
        <p>
        	<% @language.themes.each do |t| %>
          	<div style="display:inline-block;width:200px;">
            	<div style="width:200px;text-align:center;margin-left:10px;">
            	<%= link_to theme_path(t) do %>
                <%= t.name_english %>
                <span style="font-size:11px"><%= t.name %></span></div>
                <%= image_tag t.image, width: '200' %>
              <% end %>
          	</div>
        	<% end %>
        </p>
      </div>

    </div>

