    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit-smaller">
        <h1><%= @word.name %></h1>
        <p><%= @word.name_english %></p>

        <p>View the word
        	<%= link_to 'pdf file', @word.pdf %> or play the audio file
      	</p>
        <p>
        	<audio controls loop style="width:600px;margin-left:10px;">
        	<source src="<%= @word.mp3 %>" type="audio/mpeg">
        	Your browser does not support the audio element.
        	</audio>
        	<%#= link_to 'View the pdf file', @word.pdf %>
        </p>

        <p>
        <%= image_tag @word.image, width: '600', height: '400' %></p>
        </p>
      </div>

      <!-- 
      View the same word in other languages
      <ul>
      	<% SubthemesWords.where('word_id = ?', @word.id).each do |s| %>
      		<li>
      			<%= Subtheme.find(s.subtheme_id).theme.language.name_english %>
      		</li>
      	<% end %>
      </ul>
      -->
    </div>




