<h1>Words#show</h1>
<p>Find me in app/views/words/show.html.erb</p>

Words
<p><%= @word.name %></p>
<p><%= @word.name_english %></p>
<p><%= image_tag @word.image %></p>
<p><%= audio_tag @word.mp3 %></p>
<p><%= link_to 'PDF', @word.pdf %></p>

Other languages
<ul>
	<% SubthemesWords.where('word_id = ?', @word.id).each do |s| %>
		<li>
			<%= Subtheme.find(s.subtheme_id).theme.language.name_english %>
		</li>
	<% end %>
</ul>
