<!DOCTYPE html>
<html>
<head>
  <title>SFS Languages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <script src="http://code.jquery.com/jquery.js"></script>
	<!-- Devise Alerts -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<!-- End Devise Alerts -->


  <!-- Nav Topbar -->
  <%= render '/layouts/top_bar' %>

  <!-- Main Content Section -->
  <%= render '/layouts/breadcrumb' %>

  <!-- Nav Sidebar -->
	<%#= render 'layouts/side_bar' %>

  <div class="row">
    <div class="large-9 columns">
    	<%= yield %>
    </div>
  </div>

  <!-- Footer -->
  <%= render '/layouts/footer' %>


</body>
</html>
